@import "./App.scss";

.about {
  .page-cont {
    section {
      height: auto;
      border-radius: 5px;
      box-shadow: $shadow;
      position: relative;
      padding: 200px 50px;
      margin-bottom: 100px;

      p {
        margin-bottom: 30px;
      }
    }
  }
}

@media (max-width: 1700px) {
  .about {
    .page-cont {
      section {
        padding: 150px 50px;
        margin-bottom: 80px;

        p {
          margin-bottom: 25px;
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .about {
    .page-cont {
      section {
        padding: 120px 50px;
        margin-bottom: 70px;

        p {
          margin-bottom: 30px;
        }
      }
    }
  }
}

@media (max-width: 1050px) {
  .about {
    .page-cont {
      section {
        position: relative;
        padding: 100px 20px 50px 20px;
        margin-bottom: 50px;

        p {
          margin-bottom: 30px;
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
  }
}

@media (max-width: 790px) {
}