@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap");

$red: rgb(235, 34, 39);
$black: rgb(35, 31, 32);
$gray: rgb(188, 190, 192);
$white: rgb(255, 255, 255);

$shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

$noto: "Noto Sans Display", sans-serif;
$quicksand: "Quicksand", sans-serif;

$p-size: 16px;
$p-height: 25px;
$p-spacing: 2px;
$h1-size: 40px;
$h1-spacing: 3px;
$h2-size: 30px;
$h2-spacing: 3px;
$page-padding: 100px;
$img-width: 550px;
$img-height: 500px;
$nav-height: 70px;
$section-padding: 50px;

@mixin paragraph {
  color: $black;
  font-size: $p-size;
  line-height: $p-height;
  letter-spacing: $p-spacing;
  text-align: justify;
}

@mixin headline1 {
  color: $black;
  font-size: $h1-size;
  letter-spacing: $h1-spacing;
  margin-bottom: 20px;
  font-weight: 500;
}

@mixin headline2 {
  color: $black;
  font-size: $h2-size;
  letter-spacing: $h2-spacing;
  margin-bottom: 20px;
  font-weight: 500;
}

@mixin flex($align: center, $justify: center, $direction: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin background($size: contain, $position: center) {
  background-position: $position;
  background-repeat: no-repeat;
  background-size: $size;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $noto;
}

.nav-left-background {
  height: 70px;
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $red
}

main {
  min-height: 100vh;
  width: 100%;

  p {
    @include paragraph();
  }

  h1 {
    @include headline1();
  }

  h2 {
    @include headline2();
  }

  h4 {
    font-weight: 400;
    font-size: 20px;
    color: $gray;
    margin-top: -25px;
    margin-bottom: 20px;
    letter-spacing: 2px;
  }

  .to-the-top-button {
    position: fixed;
    bottom: 120px;
    right: 50px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    background-color: transparent;
    z-index: 5;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 50px;
      filter: invert(0.5);
    }
  }
}

.app {
  width: 1600px;
  margin: 0 auto;
}

.page {
  width: 100%;
  min-height: 100vh;

  .main-headline {
    font-size: 150px;
    line-height: 150px;
    letter-spacing: 20px;
    font-weight: 600;
    color: $gray;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 130px;
  }

  .top-img-cont {
    @include background($size: cover, $position: center top);
    margin: 0 auto;
    width: 100vw;
    max-width: 2200px;
    aspect-ratio: 2.35/1;
    @include flex();

    h1 {
      margin-top: 100px;
      font-size: 70px;
      color: $white;
      text-shadow: $white 1px 0 5px;
      text-align: center;
    }
  }

  .page-cont {
    width: 1600px;
    margin: 0 auto;
  }
}

.bar {
  height: 70px;
  width: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;

  .left-red {
    width: 70%;
    background-color: $red;

    h1 {
      font-size: 40px;
      line-height: 70px;
      padding-left: 10%;
      letter-spacing: 10px;
      color: $black;
    }
  }

  .creation {
    position: relative;
    flex-direction: column;
    align-items: baseline;

    .background-gray {
      position: absolute;
      width: 20px;
      height: 100%;
      background-color: $gray;
    }

    .creation-left {
      .left-trap {
        width: 60px;
        height: 50px;
        background-color: $gray;
        position: absolute;
        right: -80px;
        clip-path: polygon(0% 0%, 100% 0%, 58% 100%, 0% 100%);
      }

      .left-round {
        position: absolute;
        height: 70px;
        width: 40px;
        right: -60px;
        background-color: $gray;
        border-radius: 0 0 100px 0;
      }
    }

    .creation-right {
      .right-trap {
        width: 60px;
        height: 50px;
        background-color: $red;
        position: absolute;
        clip-path: polygon(0% 0%, 100% 0%, 58% 100%, 0% 100%);
      }

      .right-round {
        position: absolute;
        height: 70px;
        width: 40px;
        background-color: $red;
        border-radius: 0 0 100px 0;
      }
    }
  }

  .right-transparent {
    width: 30%;
    background-color: transparent;
    position: relative;

    .logo-cont {
      position: absolute;
      height: 150px;
      width: 150px;
      background-image: url("/logos/logo-no-bg.png");
      background-size: contain;
      right: 0;
      background-position: center;
      backdrop-filter: blur(5px);
      border-radius: 100px;
    }
  }
}

//1440px - 1700px
@media (max-width: 1700px) {
  .page {
    .top-img-cont {
      max-width: 1800px;
    }

    .page-cont {
      max-width: 1500px;
    }
  }
}

//1024px - 1440px
@media (max-width: 1440px) {
  $h1-size: 32px;
  $page-padding: 40px;
  $nav-height: 60px;

  @mixin headline1 {
    font-size: $h1-size;
  }

  main {
    .nav-background {
      height: $nav-height;
    }
    h1 {
      @include headline1();
    }
  }

  .page {
    .page-cont {
      padding-top: $page-padding;
    }
  }
}

//768px - 1024px
@media (max-width: 1024px) {
  $p-size: 14px;
  $p-height: 22px;
  $h1-size: 25px;
  $h2-size: 20px;
  $h2-spacing: 2px;
  $page-padding: 50px;
  $nav-height: 50px;

  @mixin paragraph {
    font-size: $p-size;
    line-height: $p-height;
  }

  @mixin headline1 {
    font-size: $h1-size;
  }

  @mixin headline2 {
    font-size: $h2-size;
    letter-spacing: $h2-spacing;
  }

  main {
    .nav-background {
      height: $nav-height;
    }

    p {
      @include paragraph();
    }

    h1 {
      @include headline1();
    }

    h2 {
      @include headline2();
    }

    h4 {
      font-size: 16px;
    }
  }
  .page {
    .page-cont {
      padding-top: $page-padding;
    }
  }
}

//470px - 768px
@media (max-width: 768px) {
  $p-size: 13px;
  $p-height: 20px;
  $h1-size: 20px;
  $h1-spacing: 2px;
  $h2-size: 18px;
  $h2-spacing: 2px;
  $page-padding: 30px;
  $nav-height: 50px;

  @mixin paragraph {
    font-size: $p-size;
    line-height: $p-height;
  }

  @mixin headline1 {
    font-size: $h1-size;
    letter-spacing: $h1-spacing;
  }

  @mixin headline2 {
    font-size: $h2-size;
    letter-spacing: $h2-spacing;
  }

  main {
    .nav-background {
      height: $nav-height;
    }
    p {
      @include paragraph();
    }

    h1 {
      @include headline1();
    }

    h2 {
      @include headline2();
    }

    h4 {
      font-size: 15px;
    }

    .to-the-top-button {
      bottom: 100px;
      right: 30px;
      width: 30px;
      height: 30px;
      img {
        height: 30px;
      }
    }
  }

  .page {
    .top-img-cont {
      width: 100vw;
    }
    .page-cont {
      padding-top: $page-padding;
    }
  }
}

//<<<<<<<<470px
@media (max-width: 470px) {
  $p-size: 12px;
  $p-height: 18px;
  $p-spacing: 1px;
  $h1-size: 20px;
  $h1-spacing: 2px;
  $h2-size: 17px;
  $h2-spacing: 2px;
  $page-padding: 25px;
  $nav-height: 40px;

  @mixin paragraph {
    font-size: $p-size;
    line-height: $p-height;
    letter-spacing: $p-spacing;
  }

  @mixin headline1 {
    font-size: $h1-size;
    letter-spacing: $h1-spacing;
  }

  @mixin headline2 {
    font-size: $h2-size;
    letter-spacing: $h2-spacing;
  }

  main {
    .nav-background {
      height: $nav-height;
    }

    p {
      @include paragraph();
    }

    h1 {
      @include headline1();
    }

    h2 {
      @include headline2();
    }

    h4 {
      font-size: 12px;
      margin-top: -22px;
    }
  }

  .page {
    .top-img-cont {
      width: 100vw;
      aspect-ratio: 1/1.4;
    }
    .page-cont {
      padding-top: $page-padding;
    }
  }
}
