@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

$red: rgb(235, 34, 39);
$black: rgb(35, 31, 32);
$gray: rgb(188, 190, 192);
$white: rgb(255, 255, 255);

$shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

$app-width: 1500px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

main {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background-color: $gray;

  .nav-background {
    width: 100%;
    height: 70px;
    background-color: $red;
  }
}

.page {
  width: 100%;
  min-height: 100vh;

  .top-img-cont {
    margin: 0 auto;
    height: 900px;
    aspect-ratio: 2.4/1;
    background-size: cover;
    background-position: center top;
  }

  .page-cont {
    width: $app-width;
    margin: 0 auto;
    padding-top: 100px;
  }
}

.to-the-top-button {
  position: fixed;
  bottom: 120px;
  right: 50px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50px;
  backdrop-filter: blur(10px);
  background-color: transparent;
  z-index: 5;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 50px;
    filter: invert(0.5);
  }
}

@media (max-width: 1440px) {
  $app-width: 1200px;
  
  .page {
  
    .top-img-cont {
      height: 600px;

    }
  
    .page-cont {
      width: $app-width;
      padding-top: 60px;
    }
  }
}

@media (max-width: 700px) {
  main {
    .nav-background {
      height: 60px;
    }
  }

  .to-the-top-button {
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    img {
      height: 40px;
    }
  }
}
