@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap");

$red: rgb(235, 34, 39);
$black: rgb(35, 31, 32);
$gray: rgb(188, 190, 192);
$white: rgb(255, 255, 255);

$shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$shadow-small: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$noto: "Noto Sans Display", sans-serif;
$quicksand: "Quicksand", sans-serif;

@mixin flex($align: center, $justify: center, $direction: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin background($size: contain, $position: center) {
  background-position: $position;
  background-repeat: no-repeat;
  background-size: $size;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $noto;
}

.nav-left-background {
  height: 70px;
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $red;
}

main {
  min-height: 100vh;
  width: 100%;

  p {
    color: $black;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 2px;
    text-align: justify;
  }
}

.app {
  max-width: 1600px;
  width: 95%;
  margin: 0 auto;
}

.page {
  width: 100%;
  min-height: 100vh;

  .page-cont {
    width: 100%;
    margin: 0 auto;
  }
}

.bar {
  height: 70px;
  width: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;

  .left-red {
    width: 70%;
    background-color: $red;
    display: flex;
    align-items: center;

    .bar-h1 {
      font-size: 40px;
      line-height: 70px;
      padding-left: 50px;
      letter-spacing: 5px;
      color: $black;
      font-weight: 500;
    }
  }

  .creation {
    position: relative;
    flex-direction: column;
    align-items: baseline;

    .background-gray {
      position: absolute;
      width: 20px;
      height: 100%;
      background-color: $gray;
    }

    .creation-left {
      .left-trap {
        width: 60px;
        height: 50px;
        background-color: $gray;
        position: absolute;
        right: -80px;
        clip-path: polygon(0% 0%, 100% 0%, 58% 100%, 0% 100%);
      }

      .left-round {
        position: absolute;
        height: 70px;
        width: 40px;
        right: -60px;
        background-color: $gray;
        border-radius: 0 0 100px 0;
      }
    }

    .creation-right {
      .right-trap {
        width: 60px;
        height: 50px;
        background-color: $red;
        position: absolute;
        clip-path: polygon(0% 0%, 100% 0%, 58% 100%, 0% 100%);
      }

      .right-round {
        position: absolute;
        height: 70px;
        width: 40px;
        background-color: $red;
        border-radius: 0 0 100px 0;
      }
    }
  }

  .right-transparent {
    width: 30%;
    background-color: transparent;
    position: relative;

    .logo-cont {
      position: absolute;
      height: 150px;
      width: 150px;
      background-image: url("/logos/logo-no-bg.png");
      background-size: contain;
      right: 0;
      background-position: center;
      backdrop-filter: blur(5px);
      border-radius: 100px;
    }
  }
}

.reveal-div-flex {
  width: 100%;
  margin-top: 170px;
  margin-bottom: 60px;

  .text-reveal-div {
    font-size: 150px;
    line-height: 190px;
    font-weight: 600;
    letter-spacing: 20px;
    color: $black;
    text-align: center;
    text-shadow: 0px 3px 0px rgb(235, 34, 39, 0.8),
      0px 14px 10px rgba(0, 0, 0, 0.15), 0px 24px 2px rgba(0, 0, 0, 0.1),
      0px 34px 30px rgba(0, 0, 0, 0.1);
  }
}

.to-the-top-button {
  position: fixed;
  bottom: 120px;
  right: 50px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50px;
  backdrop-filter: blur(10px);
  background-color: transparent;
  z-index: 5;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 50px;
    filter: invert(0.5);
  }
}

@media (max-width: 1700px) {
  main {
    p {
      font-size: 16px;
      line-height: 23px;
    }
  }
  .app {
    margin: 0 auto;
  }
  .bar {
    .left-red {
      .bar-h1 {
        font-size: 30px;
        letter-spacing: 8px;
        padding-left: 40px;
      }
    }
    .right-transparent {
      .logo-cont {
        height: 120px;
        width: 120px;
      }
    }
  }

  .reveal-div-flex {
    margin-top: 120px;
    margin-bottom: 50px;

    .text-reveal-div {
      font-size: 130px;
      line-height: 165px;
      letter-spacing: 18px;
      text-shadow: 0px 3px 0px rgb(235, 34, 39, 0.8),
        0px 14px 10px rgba(0, 0, 0, 0.15), 0px 17px 2px rgba(0, 0, 0, 0.1),
        0px 34px 30px rgba(0, 0, 0, 0.1);
    }
  }
}

@media (max-width: 1300px) {
  main {
    p {
      font-size: 14px;
      line-height: 20px;
    }
  }
  .bar {
    .left-red {
      .bar-h1 {
        font-size: 25px;
        letter-spacing: 7px;
        padding-left: 25px;
      }
    }
    .right-transparent {
      .logo-cont {
        height: 100px;
        width: 100px;
      }
    }
  }
  .reveal-div-flex {
    .text-reveal-div {
      font-size: 120px;
      line-height: 160px;
      letter-spacing: 15px;
      text-shadow: 0px 3px 0px rgb(235, 34, 39, 0.8),
        0px 14px 10px rgba(0, 0, 0, 0.15), 0px 12px 2px rgba(0, 0, 0, 0.1),
        0px 34px 30px rgba(0, 0, 0, 0.1);
    }
  }
}

@media (max-width: 1050px) {
  .bar {
    height: 50px;
    .left-red {
      .bar-h1 {
        font-size: 18px;
        line-height: 50px;
        letter-spacing: 5px;
        padding-left: 15px;
      }
    }
    .creation {
      .creation-left {
        .left-trap {
          width: 60px;
          height: 30px;
        }
        .left-round {
          height: 50px;
        }
      }
      .creation-right {
        .right-trap {
          height: 30px;
        }
        .right-round {
          height: 50px;
        }
      }
    }
    .right-transparent {
      .logo-cont {
        height: 90px;
        width: 90px;
      }
    }
  }

  .reveal-div-flex {
    margin-top: 110px;
    margin-bottom: 40px;

    .text-reveal-div {
      font-size: 85px;
      line-height: 140px;
      letter-spacing: 15px;
      text-shadow: 0px 3px 0px rgb(235, 34, 39, 0.8),
        0px 14px 10px rgba(0, 0, 0, 0.15), 0px 9px 2px rgba(0, 0, 0, 0.1),
        0px 34px 30px rgba(0, 0, 0, 0.1);
    }
  }
}

@media (max-width: 790px) {
  .nav-left-background {
    display: none;
  }

  .bar {
    .left-red {
      width: 60%;
      .bar-h1 {
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 3px;
      }
    }

    .right-transparent {
      width: 40%;
      .logo-cont {
        height: 80px;
        width: 80px;
      }
    }
  }

  .reveal-div-flex {
    margin-top: 100px;
    margin-bottom: 30px;

    .text-reveal-div {
      font-size: 55px;
      line-height: 100px;
      letter-spacing: 5px;
      text-shadow: 0px 3px 0px rgb(235, 34, 39, 0.8),
        0px 14px 10px rgba(0, 0, 0, 0.15), 0px 5px 2px rgba(0, 0, 0, 0.1),
        0px 34px 30px rgba(0, 0, 0, 0.1);
    }
  }

  .to-the-top-button {
    bottom: 80px;
    right: 50px;
    width: 30px;
    height: 30px;
    img {
      height: 30px;
    }
  }
}

@media (max-width: 450px) {
  .nav-left-background {
    display: none;
  }

  .bar {
    .left-red {
      .bar-h1 {
        padding-left: 10px;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 2px;
      }
    }

    .right-transparent {
      .logo-cont {
        height: 70px;
        width: 70px;
      }
    }
  }

  .reveal-div-flex {
    margin-top: 80px;
    margin-bottom: 30px;
    .text-reveal-div {
      font-size: 35px;
      line-height: 70px;
      text-shadow: 0px 3px 0px rgb(235, 34, 39, 0.8),
        0px 14px 10px rgba(0, 0, 0, 0.15), 0px 3px 2px rgba(0, 0, 0, 0.1),
        0px 34px 30px rgba(0, 0, 0, 0.1);
    }
  }

  .to-the-top-button {
    bottom: 80px;
    right: 50px;
    width: 30px;
    height: 30px;
    img {
      height: 30px;
    }
  }
}
