@import "./App.scss";

.custom-swiper {
  width: 100%;
  height: calc(100vh - 50px);
  background-image: url("/backgrounds/background-imt.jpeg");
  background-position: center;
  background-size: cover;

  .slide-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;

    img {
      margin-left: 100px;
      height: 70%;
      box-shadow: $shadow;
      border-radius: 2px;
    }

    .slide-text {
      text-align: right;
      position: absolute;
      box-shadow: $shadow;
      bottom: 90px;
      right: 70px;
      background-color: rgba(188, 190, 192, 0.4);
      backdrop-filter: blur(10px);
      padding: 10px 20px;
      border-radius: 2px;
      width: 40%;
      color: $black;
      line-height: 30px;
      font-size: 20px;
      letter-spacing: 2px;

      h2 {
        color: $black;
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: rgb(35, 31, 32);
  }

  .swiper-button-next {
    right: 20px;
  }

  .swiper-button-prev {
    left: 20px;
  }
}

//<<<<<<<<650px
@media (max-width: 650px) {
  .custom-swiper {
    .slide-content {
      background-size: cover;
      background-position: center;
      text-align: center;
      position: relative;

      img {
        margin-left: 0px;
        height: 90%;
        width: 95%;
        object-fit: cover;
      }

      .slide-text {
        bottom: 50px;
        right: 40px;
        padding: 5px 10px;
        line-height: 22px;
        font-size: 14px;
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
}
