@import "./App.scss";

.download {
  .top-img-cont {
    background-image: url("/backgrounds/home.webp");
  }

  .bar {
    height: 70px;
    width: 100%;
    display: flex;

    .left-red {
      width: 70%;
      background-color: $red;
    }

    .creation {
      position: relative;
      flex-direction: column;
      align-items: baseline;

      .background-gray {
        position: absolute;
        width: 20px;
        height: 100%;
        background-color: $gray;
      }

      .creation-left {
        .left-trap {
          width: 60px;
          height: 50px;
          background-color: $gray;
          position: absolute;
          right: -80px;
          clip-path: polygon(0% 0%, 100% 0%, 58% 100%, 0% 100%);
        }

        .left-round {
          position: absolute;
          height: 70px;
          width: 40px;
          right: -60px;
          background-color: $gray;
          border-radius: 0 0 100px 0;
        }
      }

      .creation-right {
        .right-trap {
          width: 60px;
          height: 50px;
          background-color: $red;
          position: absolute;
          clip-path: polygon(0% 0%, 100% 0%, 58% 100%, 0% 100%);
        }

        .right-round {
          position: absolute;
          height: 70px;
          width: 40px;
          background-color: $red;
          border-radius: 0 0 100px 0;
        }
      }
    }

    .right-transparent {
      width: 30%;
      background-color: transparent;
      position: relative;

      .logo-cont {
        position: absolute;
        height: 150px;
        width: 150px;
        background-image: url("/logos/logo-no-bg.png");
        background-size: contain;
        right: 0;
        background-position: center;
        backdrop-filter: blur(5px);
        border-radius: 100px;
      }
    }
  }
}

//<<<<<<<<650px
@media (max-width: 650px) {
  .download {
    .top-img-cont {
      background-image: url("/backgrounds/home-mobile.webp");
    }
  }
}
