@import "./App.scss";

.download {
  .page-cont {
    section {
      border-radius: 5px;
      box-shadow: $shadow;
      position: relative;
      padding: 200px 50px 50px 50px;
      margin-bottom: 100px;
      display: flex;

      .segment {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 220px;
        margin-bottom: 100px;
        justify-content: space-between;

        h2 {
          font-size: 18px;
          text-align: center;
          letter-spacing: 1px;
        }

        a {
          height: 200px;
          width: 200px;
          background-image: url("/icons/pdf.svg");
          background-position: center;
          background-size: 80%;
          background-repeat: no-repeat;
          transition: 0.3s;
        }

        &:hover {
          h2 {
            color: $red;
          }
          a {
            background-image: url("/icons/pdf red.svg");
            scale: 1.05;
          }
        }
      }

      &.brochures {
        flex-wrap: wrap;
      }

      &.manuals {
        flex-wrap: wrap;
      }
    }
  }
}

@media (max-width: 1700px) {
  .download {
    .page-cont {
      section {
        padding: 150px 50px 50px 50px;
        margin-bottom: 80px;

        .segment {
          height: 190px;
          margin-bottom: 80px;

          h2 {
            font-size: 16px;
          }

          a {
            height: 170px;
            width: 170px;
          }
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .download {
    .page-cont {
      section {
        padding: 130px 40px 40px 40px;
        margin-bottom: 60px;
        .segment {
          height: 170px;
          margin-bottom: 50px;
          h2 {
            font-size: 14px;
            font-weight: 400;
          }
          a {
            height: 140px;
            width: 140px;
          }
        }
      }
    }
  }
}

@media (max-width: 1050px) {
  .download {
    .page-cont {
      section {
        padding: 100px 30px 30px 30px;
        margin-bottom: 50px;

        .segment {
          margin-bottom: 50px;

          h2 {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 790px) {
  .download {
    .page-cont {
      section {
        padding: 100px 30px 30px 30px;
        margin-bottom: 50px;

        .segment {
          height: 150px;
          margin-bottom: 50px;

          h2 {
            font-size: 12px;
          }

          a {
            height: 110px;
            width: 110px;
          }
        }
      }
    }
  }
}


