@import "./App.scss";

footer {
  height: 100px;
  background-color: $white;
  box-shadow: $shadow;

  .footer-cont {
    @include flex($justify: space-between);
    max-width: 1600px;
    width: 95%;
    margin: 0 auto;
    height: 100%;

    .footer-logo {
      @include background($size: 80%);
      height: 100%;
      aspect-ratio: 1;
      background-image: url("/logos/logo-w.JPG");
    }

    .footer-text {
      text-align: center;
      color: $black;

      h1 {
        font-size: 30px;
        letter-spacing: 4px;
      }

      h5 {
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 2px;

        a {
          text-decoration: none;
          font-weight: 600;
          color: black;
          transition: color 0.2s;

          &:hover {
            color: $red;
          }
        }
      }
    }
  }
}

@media (max-width: 1700px) {
  footer {
    .footer-cont {
      .footer-text {
        h1 {
          font-size: 28px;
        }
        h5 {
          font-size: 17px;
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  footer {
    .footer-cont {
      .footer-text {
        h1 {
          font-size: 25px;
        }
        h5 {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 1050px) {
  footer {
    .footer-cont {
      .footer-logo {
        @include background($size: 65%);
      }
      .footer-text {
        h1 {
          font-size: 23px;
          letter-spacing: 3px;
        }
        h5 {
          font-size: 13px;
          letter-spacing: 1.5px;
        }
      }
    }
  }
}

@media (max-width: 790px) {
  footer {
    .footer-cont {
      .footer-logo {
        height: 0%;
      }
      .footer-text {
        h1 {
          font-size: 19px;
          letter-spacing: 2px;
          margin-bottom: 2px;
        }
        h5 {
          font-size: 12px;
          letter-spacing: 1px;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  footer {
    .footer-cont {
      .footer-text {
        h1 {
          font-size: 16px;
          letter-spacing: 1px;
        }
        h5 {
          font-size: 10px;
          letter-spacing: 0px;
        }
      }
    }
  }
}
