@import "./App.scss";

.form {
  width: 100%;
  padding: 20px;
  input {
    all: unset;
    width: calc(100% - 40px);
    background-color: rgba(164, 164, 164, 0.5);
    backdrop-filter: blur(2px);
    height: 40px;
    margin-bottom: 10px;
    padding: 0 20px;
    font-size: 15px;
    color: $black;
    letter-spacing: 2px;
    cursor: text;
    transition: 0.5s;
    &::placeholder {
      color: gray;
      font-size: 15px;
      letter-spacing: 2px;
    }

    &:hover {
      background-color: rgba(164, 164, 164, 0.8);
    }
  }

  #area {
    all: unset;
    padding: 20px;
    width: calc(100% - 40px);
    font-size: 15px;
    color: $black;
    letter-spacing: 2px;
    background-color: rgba(164, 164, 164, 0.5);

    backdrop-filter: blur(2px);
    word-wrap: break-word;
    line-height: 25px;
    margin-bottom: 20px;
    cursor: text;
    transition: 0.5s;

    &::placeholder {
      color: gray;
      font-size: 15px;
      letter-spacing: 2px;
    }

    &:hover {
      background-color: rgba(164, 164, 164, 0.9);
    }
  }

  button {
    all: unset;
    width: calc(100% - 40px);
    padding: 0 20px;
    height: 60px;
    color: $white;
    background-color: $red;
    backdrop-filter: blur(2px);
    font-size: 15px;
    letter-spacing: 5px;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      filter: brightness(1.1);
    }
  }

  .error {
    color: rgb(213, 111, 111);
    font-size: 14px;
    letter-spacing: 2px;
    text-align: right;
    height: 22px;
  }
}

.page.service {
  .page-cont {
    position: relative;
    padding: 20px;
    padding-top: 150px;
    border-radius: 5px;
    box-shadow: $shadow;

    .service-form {
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      .service-flex {
        @include flex($align: top, $justify: space-between);
        gap: 50px;

        label {
          font-size: 20px;
          letter-spacing: 1px;
          margin-left: 5px;

          span {
            color: $red;
          }
        }

        .service-text-input {
          all: unset;
          width: calc(100% - 30px);
          padding: 0 15px;
          background-color: rgba(164, 164, 164, 0.5);
          backdrop-filter: blur(2px);
          height: 40px;
          margin-bottom: 20px;
          font-size: 18px;
          color: $black;
          letter-spacing: 2px;
          cursor: text;
          transition: 0.5s;
          border-radius: 5px;
          &::placeholder {
            color: gray;
            font-size: 15px;
            letter-spacing: 2px;
          }

          &:hover {
            background-color: rgba(164, 164, 164, 0.8);
          }
        }

        .service-left {
          width: 50%;

          .model-input {
            margin: 50px 0;
            .model-boxes {
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              justify-content: flex-start;
              gap: 20px;

              label {
                cursor: pointer;
              }

              input {
                margin-right: 10px;
                cursor: pointer;
              }
            }
          }

          .input-flex {
            display: flex;
            gap: 10px;

            .hours-cont {
              width: 50%;
            }

            .contact-cont {
              width: 50%;

              p {
                font-size: 20px;
                letter-spacing: 1px;
                margin-left: 5px;
              }

              .labels {
                display: flex;
                justify-content: center;
                gap: 10%;

                input {
                  margin-right: 10px;
                }
              }
            }
          }
        }

        .service-right {
          width: 50%;
          display: flex;
          flex-direction: column;

          .service-area {
            all: unset;
            padding: 15px;
            width: calc(100% - 30px);
            font-size: 18px;
            color: $black;
            letter-spacing: 2px;
            background-color: rgba(164, 164, 164, 0.5);
            backdrop-filter: blur(2px);
            word-wrap: break-word;
            line-height: 25px;
            margin-bottom: 20px;
            cursor: text;
            transition: 0.5s;
            border-radius: 5px;

            &::placeholder {
              color: gray;
              font-size: 15px;
              letter-spacing: 2px;
            }

            &:hover {
              background-color: rgba(164, 164, 164, 0.9);
            }
          }
        }
      }
      button {
        all: unset;
        width: calc(20% - 30px);
        margin-left: 80%;
        padding: 0 15px;
        height: 60px;
        border-radius: 5px;
        color: $white;
        background-color: $red;
        backdrop-filter: blur(2px);
        font-size: 15px;
        letter-spacing: 5px;
        cursor: pointer;
        transition: 0.5s;
        text-align: center;
        &:hover {
          filter: brightness(1.1);
        }
      }
    }
  }
}

@media (max-width: 1700px) {
  .page.service {
    .page-cont {
      padding: 10px;
      padding-top: 150px;

      .service-form {
        .service-flex {
          gap: 30px;

          label {
            font-size: 18px;
          }

          .service-text-input {
            font-size: 16px;
            &::placeholder {
              font-size: 14px;
            }
          }

          .service-left {
            .model-input {
              margin: 30px 0;
            }

            .input-flex {
              .contact-cont {
                p {
                  font-size: 18px;
                }
              }
            }
          }

          .service-right {
            .service-area {
              font-size: 16px;
              &::placeholder {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .form {
    input {
      height: 35px;
      margin-bottom: 5px;
      font-size: 14px;
      &::placeholder {
        font-size: 14px;
      }
    }
    #area {
      font-size: 14px;
      &::placeholder {
        font-size: 14px;
      }
    }
  }
  .page.service {
    .page-cont {
      padding: 10px;
      padding-top: 130px;
      .service-form {
        .service-flex {
          label {
            font-size: 14px;
          }
          .service-text-input {
            padding: 0 15px;
            height: 35px;
            margin-bottom: 10px;
            font-size: 14px;
            letter-spacing: 1px;
            &::placeholder {
              font-size: 14px;
            }
          }
          .service-left {
            .model-input {
              .model-boxes {
                gap: 15px;
                input {
                  margin-right: 10px;
                  cursor: pointer;
                }
              }
            }
            .input-flex {
              .contact-cont {
                p {
                  font-size: 14px;
                }
              }
            }
          }
          .service-right {
            .service-area {
              font-size: 14px;
              &::placeholder {
                font-size: 14px;
              }
            }
          }
        }
        button {
          height: 50px;
        }
      }
    }
  }
}

@media (max-width: 1050px) {
  .page.service {
    .page-cont {
      padding: 8px;
      padding-top: 100px;
      .service-form {
        .service-flex {
          label {
            font-size: 12px;
          }
          .service-text-input {
            font-size: 12px;
            &::placeholder {
              font-size: 12px;
            }
          }
          .service-left {
            .model-input {
              .model-boxes {
                gap: 12px;
              }
            }
            .input-flex {
              .contact-cont {
                p {
                  font-size: 12px;
                }
              }
            }
          }
          .service-right {
            .service-area {
              font-size: 12px;
              &::placeholder {
                font-size: 12px;
              }
            }
          }
        }
        button {
          height: 40px;
        }
      }
    }
  }
}

@media (max-width: 790px) {
  .page.service {
    .page-cont {
      .service-form {
        .service-flex {
          @include flex(
            $align: top,
            $justify: space-between,
            $direction: column
          );

          label {
            font-size: 16px;
          }

          .service-text-input {
            all: unset;
            width: calc(100% - 30px);
            padding: 0 15px;
            background-color: rgba(164, 164, 164, 0.5);
            backdrop-filter: blur(2px);
            height: 40px;
            margin-bottom: 20px;
            font-size: 18px;
            color: $black;
            letter-spacing: 2px;
            cursor: text;
            transition: 0.5s;
            border-radius: 5px;
            &::placeholder {
              color: gray;
              font-size: 15px;
              letter-spacing: 2px;
            }

            &:hover {
              background-color: rgba(164, 164, 164, 0.8);
            }
          }

          .service-left {
            width: 100%;

            .model-input {
              margin: 50px 0;
              .model-boxes {
                gap: 20px;
              }
            }

            .input-flex {
              display: flex;
              flex-direction: column;
              gap: 10px;

              .hours-cont {
                width: 100%;
              }

              .contact-cont {
                width: 100%;

                p {
                  font-size: 16px;
                  margin-left: 5px;
                }

                .labels {
                  display: flex;
                  justify-content: center;
                  gap: 30%;
                }
              }
            }
          }

          .service-right {
            width: 100%;
          }
        }

        button {
          all: unset;
          width: calc(60% - 30px);
          margin-left: 20%;
          padding: 0 15px;
          height: 60px;
          border-radius: 5px;
          color: $white;
          background-color: $red;
          backdrop-filter: blur(2px);
          font-size: 15px;
          letter-spacing: 5px;
          cursor: pointer;
          transition: 0.5s;
          text-align: center;
          margin-bottom: 50px;
          &:hover {
            filter: brightness(1.1);
          }
        }
      }
    }
  }
}
