@import "./App.scss";

nav {
  height: 70px;
  width: 100%;
  position: absolute;
  display: flex;
  top: 0;
  z-index: 100;

  .nav-cont {
    @include flex();
    width: 1600px;
    margin: 0 auto;

    .navlinks {
      width: 80%;
      background-color: $red;
      height: 100%;
      @include flex($justify: baseline);

      .navlinks-cont {
        @include flex($justify: baseline);
        gap: 20px;

        .navlink {
          all: unset;
          cursor: pointer;
          font-size: 14px;
          letter-spacing: 2px;
          transition: color 0.5s;
          font-weight: 500;
          padding: 5px 15px;
          border-radius: 2px;
          transition: background-color 0.2s, color 0.2s;
          background-image: linear-gradient(
            to right,
            transparent 50%,
            $black 50%
          );
          background-size: 200% 100%;
          transition: background-position 0.2s ease;

          &:hover {
            color: $white;
            background-position: -100% 0;
          }

          &.active {
            color: $white;
            background-color: $black;
          }
        }

        .navlink-with-dropdown {
          position: relative;

          .dropdown {
            display: flex;
            flex-direction: column;
            height: 0;
            width: 0;
            overflow: hidden;
            position: absolute;
            top: 26px;

            .padding-div {
              width: 325px;
              height: 30px;
            }

            .dropdown-cont {
              padding: 20px 10px;
              background-color: $white;
              border-radius: 3px;
              box-shadow: $shadow;
              width: 325px;
              height: 180px;
              gap: 10px;
              @include flex(
                $direction: column,
                $align: left,
                $justify: space-between
              );

              .dropdown-navlink {
                padding: 2px 10px;
                text-decoration: none;
                color: black;
                transition: background-color 0.2s, color 0.2s;
                background-image: linear-gradient(
                  to right,
                  transparent 50%,
                  $black 50%
                );
                background-size: 200% 100%;
                transition: background-position 0.2s ease;

                &:hover {
                  color: $white;
                  background-position: -100% 0;
                }

                &.active {
                  color: $white;
                  background-color: $black;
                }
              }
            }
          }

          &:hover {
            .dropdown {
              height: 210px;
              width: 325px;
              overflow: visible;
            }
          }

          &.models,
          &.download {
            .dropdown {
              .padding-div {
                width: 200px;
                height: 30px;
              }

              .dropdown-cont {
                width: 200px;
                height: 140px;
              }
            }

            &:hover {
              .dropdown {
                height: 170px;
                width: 200px;
                overflow: visible;
              }
            }
          }
        }
      }
    }

    .creation {
      position: relative;
      flex-direction: column;
      align-items: baseline;
      height: 70px;

      .background-gray {
        position: absolute;
        width: 20px;
        height: 100%;
        background-color: $gray;
      }

      .creation-left {
        .left-trap {
          width: 60px;
          height: 50px;
          background-color: $gray;
          position: absolute;
          right: -80px;
          clip-path: polygon(0% 0%, 100% 0%, 58% 100%, 0% 100%);
        }

        .left-round {
          position: absolute;
          height: 70px;
          width: 40px;
          right: -60px;
          background-color: $gray;
          border-radius: 0 0 100px 0;
        }
      }

      .creation-right {
        .right-trap {
          width: 60px;
          height: 50px;
          background-color: $red;
          position: absolute;
          clip-path: polygon(0% 0%, 100% 0%, 58% 100%, 0% 100%);
        }

        .right-round {
          position: absolute;
          height: 70px;
          width: 40px;
          background-color: $red;
          border-radius: 0 0 100px 0;
        }
      }
    }

    .right-transparent {
      width: 20%;
      background-color: transparent;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: end;

      .logo-cont {
        margin-top: 100px;
        height: 120px;
        width: 120px;
        background-image: url("/logos/logo-no-bg.png");
        background-size: contain;
        background-position: center;
        backdrop-filter: blur(5px);
        border-radius: 100px;
        @include flex();
        transition: transform 0.1s;

        a {
          height: 90px;
          width: 90px;
          cursor: pointer;
          border-radius: 100px;
        }
        &:hover {
          transform: rotate(360deg);
        }
      }
    }

    .menu-btn {
      display: none;
    }
  }
}

@media (max-width: 1700px) {
  nav {
    .nav-cont {
      @include flex();
      width: 1250px;

      .navlinks {
        .navlinks-cont {
          gap: 15px;

          .navlink {
            padding: 5px 12px;
          }
        }
      }

      .right-transparent {
        .logo-cont {
          margin-top: 80px;
          height: 100px;
          width: 100px;
        }
      }

      .menu-btn {
        display: none;
      }
    }
  }
}

@media (max-width: 1300px) {
  nav {
    .nav-cont {
      width: 1000px;
      .navlinks {
        .navlinks-cont {
          gap: 10px;
          .navlink {
            font-size: 12px;
            letter-spacing: 1px;
            padding: 5px 8px;
          }
          .navlink-with-dropdown {
            .dropdown {
              .dropdown-cont {
                .dropdown-navlink {
                  padding: 2px 8px;
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
      .right-transparent {
        .logo-cont {
          margin-top: 50px;
          height: 90px;
          width: 90px;
          a {
            height: 80px;
            width: 80px;
          }
        }
      }
    }
  }
}

@media (max-width: 1050px) {
  nav {
    .nav-cont {
      width: 750px;
      .navlinks {
        .navlinks-cont {
          gap: 5px;
          .navlink {
            font-size: 11px;
            letter-spacing: 1px;
            padding: 4px;
          }
          .navlink-with-dropdown {
            .dropdown {
              .dropdown-cont {
                .dropdown-navlink {
                  padding: 2px 8px;
                  font-size: 11px;
                }
              }
            }
          }
        }
      }
      .right-transparent {
        .logo-cont {
          margin-top: 50px;
          height: 80px;
          width: 80px;
          a {
            height: 70px;
            width: 70px;
          }
        }
      }
    }
  }
}
