@import "./App.scss";

nav {
  height: 70px;
  width: 100%;
  position: absolute;
  display: flex;
  top: 0;
  z-index: 100;

  .nav-cont {
    @include flex($justify: space-between);
    width: 70%;
    background-color: $red;

    .navlinks {
      width: 100%;
      .navlinks-cont {
        margin-left: 70px;
        @include flex($justify: baseline);
        gap: 5px;

        .navlink {
          all: unset;
          cursor: pointer;
          font-size: 14px;
          letter-spacing: 2px;
          transition: color 0.5s;
          font-weight: 500;
          padding: 5px 15px;
          border-radius: 2px;
          transition: background-color 0.2s, color 0.2s;
          background-image: linear-gradient(
            to right,
            transparent 50%,
            $black 50%
          );
          background-size: 200% 100%;
          transition: background-position 0.2s ease;

          &:hover {
            color: $white;
            background-position: -100% 0;
          }

          &.active {
            color: $white;
            background-color: $black;
          }
        }

        .navlink-with-dropdown {
          position: relative;

          .dropdown {
            display: flex;
            flex-direction: column;
            height: 0;
            width: 0;
            overflow: hidden;
            position: absolute;
            top: 26px;

            .padding-div {
              width: 325px;
              height: 30px;
            }

            .dropdown-cont {
              padding: 20px 10px;
              background-color: $white;
              border-radius: 3px;
              box-shadow: $shadow;
              width: 325px;
              height: 180px;
              gap: 10px;
              @include flex(
                $direction: column,
                $align: left,
                $justify: space-between
              );

              .dropdown-navlink {
                padding: 2px 10px;
                text-decoration: none;
                color: black;
                transition: background-color 0.2s, color 0.2s;
                background-image: linear-gradient(
                  to right,
                  transparent 50%,
                  $black 50%
                );
                background-size: 200% 100%;
                transition: background-position 0.2s ease;

                &:hover {
                  color: $white;
                  background-position: -100% 0;
                }

                &.active {
                  color: $white;
                  background-color: $black;
                }
              }
            }
          }

          &:hover {
            .dropdown {
              height: 210px;
              width: 325px;
              overflow: visible;
            }
          }

          &.models,
          &.download {
            .dropdown {
              .padding-div {
                width: 200px;
                height: 30px;
              }

              .dropdown-cont {
                width: 200px;
                height: 140px;
              }
            }

            &:hover {
              .dropdown {
                height: 170px;
                width: 200px;
                overflow: visible;
              }
            }
          }
        }

        .nav-btns {
          display: flex;
          gap: 10px;
          margin-left: 20px;
          .nav-btn {
            all: unset;
            height: 30px;
            width: 30px;
            cursor: pointer;
            transition: all 0.5s;
            filter: invert(0.1);

            &.facebook {
              background-image: url("/icons/facebook.svg");
            }

            &.instagram {
              background-image: url("/icons/instagram.svg");
            }

            &:hover {
              filter: invert(0.9);
            }
          }
        }
      }
    }

    .menu-btn {
      display: none;
    }
  }

  .creation {
    position: relative;
    flex-direction: column;
    align-items: baseline;

    .background-gray {
      position: absolute;
      width: 20px;
      height: 100%;
      background-color: $gray;
    }

    .creation-left {
      .left-trap {
        width: 60px;
        height: 50px;
        background-color: $gray;
        position: absolute;
        right: -80px;
        clip-path: polygon(0% 0%, 100% 0%, 58% 100%, 0% 100%);
      }

      .left-round {
        position: absolute;
        height: 70px;
        width: 40px;
        right: -60px;
        background-color: $gray;
        border-radius: 0 0 100px 0;
      }
    }

    .creation-right {
      .right-trap {
        width: 60px;
        height: 50px;
        background-color: $red;
        position: absolute;
        clip-path: polygon(0% 0%, 100% 0%, 58% 100%, 0% 100%);
      }

      .right-round {
        position: absolute;
        height: 70px;
        width: 40px;
        background-color: $red;
        border-radius: 0 0 100px 0;
      }
    }
  }

  .right-transparent {
    width: 30%;
    background-color: transparent;

    .logo-cont {
      margin: 10px auto;
      height: 120px;
      width: 120px;
      background-image: url("/logos/logo-no-bg.png");
      background-size: contain;
      right: 20%;
      background-position: center;
      backdrop-filter: blur(5px);
      border-radius: 100px;
      @include flex();
      transition: transform 0.1s;

      a {
        height: 90px;
        width: 90px;
        cursor: pointer;
        border-radius: 100px;

      }
      &:hover {
        transform: rotate(360deg);
      }
    }
  }
}

//<<<<<<<<650px
@media (max-width: 650px) {
  $nav-height: 40px;

  nav {
    height: $nav-height;
    .nav-cont {
      .navlinks {
        position: fixed;
        height: 0;
        overflow: hidden;
        width: 100%;
        top: 40px;
        left: 0;
        display: flex;
        transition: height 0.1s ease-out;
        backdrop-filter: blur(10px);

        .empty-space {
          width: 40%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
        }

        .navlinks-cont {
          width: 60%;
          height: 100%;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          padding-top: 10px;
          gap: 5px;
          background-color: rgb(235, 34, 39, 0.95);

          .navlink {
            font-size: 14px;
            width: 100%;
          }

          .navlink-with-dropdown {
            // position: relative;

            .dropdown {
              display: flex;
              flex-direction: column;
              height: auto;
              width: auto;
              // overflow: hidden;
              position: unset;
              // top: 26px;

              .padding-div {
                width: 0;
                height: 0;
              }

              .dropdown-cont {
                padding: 10px;
                background-color: transparent;
                border-radius: none;
                box-shadow: none;
                width: 100%;
                height: auto;
                gap: 5px;
                margin-left: 20px;
                @include flex(
                  $direction: column,
                  $align: left,
                  $justify: space-between
                );

                .dropdown-navlink {
                  padding: none;
                  text-decoration: none;
                  color: black;
                  font-size: 12px;
                  transition: background-color 0.2s, color 0.2s;
                  background-image: linear-gradient(
                    to right,
                    transparent 50%,
                    $black 50%
                  );
                  background-size: 200% 100%;
                  transition: background-position 0.2s ease;

                  &:hover {
                    color: $white;
                    background-position: -100% 0;
                  }

                  &.active {
                    color: $white;
                    background-color: $black;
                  }
                }
              }
            }

            &:hover {
              .dropdown {
                height: auto;
                width: auto;
              }
            }

            &.models,
            &.download {
              .dropdown {
                .padding-div {
                  width: 0;
                  height: 0;
                }

                .dropdown-cont {
                  width: auto;
                  height: 100px;
                }
              }

              &:hover {
                .dropdown {
                  height: 100px;
                  width: auto;
                  // overflow: visible;
                }
              }
            }
          }

          .nav-btns {
            display: flex;
            gap: 10px;
            margin-left: 10px;
            .nav-btn {
              all: unset;
              height: 20px;
              width: 20px;
              cursor: pointer;
              transition: all 0.5s;
              filter: invert(0.1);
              font-size: 12px;
              letter-spacing: 2px;
              content-visibility: hidden;

              &.facebook {
                background-image: url("/icons/facebook.svg");
              }

              &.instagram {
                background-image: url("/icons/instagram.svg");
              }

              &:hover {
                filter: invert(0.9);
              }
            }
          }
        }

        &.show-menu {
          height: calc(100vh - 40px);
          transition: height 0.2s ease-out;
        }
      }

      .menu-btn {
        all: unset;
        height: 20px;
        width: 20px;
        background-image: url("/icons/menu.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        display: block;
        transition: background-image 0.5s;

        &.show-menu {
          background-image: url("/icons/menu-close.svg");
        }
      }
    }
  }
}
