@import "./App.scss";

.network {
  .page-cont {
    section {
      border-radius: 5px;
      box-shadow: $shadow;
      position: relative;
      padding: 150px 50px 50px 50px;
      margin-bottom: 200px;
      @include flex($direction: column);
      gap: 50px;

      h1 {
        font-size: 50px;
        font-weight: 500;
        width: 80%;
        text-align: center;
        letter-spacing: 5px;
        color: $black;
      }

      .img-cont {
        height: 800px;
        width: 600px;
        @include background($size: cover);
        background-image: url("/rest/map2.png");
        position: relative;
        border-radius: 20px;
        box-shadow: $shadow;
        margin-bottom: 50px;

        .dot-logo {
          @include background($size: cover);
          background-image: url("/logos/logo-no-bg.png");
          height: 40px;
          width: 40px;
          border-radius: 100px;
          position: absolute;
          top: 150px;
          left: 260px;
          cursor: pointer;
          box-shadow: $shadow;

          &:hover {
            .info {
              display: block;
            }
          }

          .info {
            position: absolute;
            z-index: 40;
            left: -290px;
            top: 45px;
            height: 250px;
            width: 600px;
            border-radius: 5px;
            box-shadow: $shadow;
            backdrop-filter: blur(10px);
            padding: 30px;
            @include flex($direction: column, $align: start, $justify: center);
            gap: 5px;
            display: none;
            background-image: url("/logos/logo-no-bg.png");
            @include background($size: 200px, $position: right);

            h5 {
              font-size: 22px;
              margin-bottom: 10px;
            }

            p {
              font-size: 18px;
              letter-spacing: 2px;
              line-height: 30px;
            }

            span {
              font-weight: 600;
            }
          }
        }

        .dot {
          position: absolute;
          height: 30px;
          width: 30px;
          border-radius: 100px;
          background-color: $red;
          cursor: pointer;
          box-shadow: $shadow;

          &.agrorid {
            top: 205px;
            left: 190px;

            .info {
              .logo-cont {
                background-image: url("/network/agrorid.JPG");
              }
            }

            &:hover {
              .info {
                display: block;
              }
            }
          }

          &.agrogas {
            top: 300px;
            left: 230px;

            .info {
              width: 550px;
              left: -260px;
              .logo-cont {
                background-image: url("/network/agrogas.png");
              }
            }

            &:hover {
              .info {
                display: block;
              }
            }
          }

          &.jugometal {
            top: 340px;
            left: 355px;

            .info {
              .logo-cont {
                background-image: url("/network/jugometal.png");
              }
            }

            &:hover {
              .info {
                display: block;
              }
            }
          }

          &.agrouniverzal {
            top: 380px;
            left: 225px;

            .info {
              .logo-cont {
                background-image: url("/network/agrouniverzal.png");
              }
            }

            &:hover {
              .info {
                display: block;
              }
            }
          }

          &.agrocentar {
            top: 460px;
            left: 190px;

            .info {
              .logo-cont {
                background-image: url("/network/agrocentar.JPG");
              }
            }

            &:hover {
              .info {
                display: block;
              }
            }
          }

          &.agribau {
            top: 635px;
            left: 335px;

            .info {
              top: -255px;
              .logo-cont {
                background-image: url("/network/agribau.png");
              }
            }

            &:hover {
              .info {
                display: block;
              }
            }
          }

          &.rakic {
            top: 240px;
            left: 25px;

            .info {
              .logo-cont {
                background-image: url("/network/rakic.png");
              }
            }

            &:hover {
              .info {
                display: block;
              }
            }
          }

          .info {
            z-index: 40;
            position: absolute;
            left: -185px;
            top: 35px;
            height: 250px;
            width: 400px;
            border-radius: 10px;
            box-shadow: $shadow;
            backdrop-filter: blur(10px);
            padding: 30px;
            @include flex($direction: column, $align: start);
            display: none;

            .logo-cont {
              @include background();
              height: 70px;
              width: 100%;
              margin-bottom: 20px;
            }

            p {
              font-size: 18px;
              letter-spacing: 2px;
              line-height: 30px;
            }

            span {
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1700px) {
  .network {
    .page-cont {
      section {
        padding: 120px 40px 40px 40px;
        margin-bottom: 180px;
        gap: 40px;

        h1 {
          font-size: 40px;
        }
      }
    }
  }
}
@media (max-width: 1300px) {
  .network {
    .page-cont {
      section {
        padding: 100px 25px 25px 25px;
        margin-bottom: 150px;
        gap: 30px;

        h1 {
          font-size: 30px;
        }
      }
    }
  }
}
@media (max-width: 1050px) {
  .network {
    .page-cont {
      section {
        padding: 100px 15px 15px 15px;
        margin-bottom: 120px;
        gap: 20px;

        h1 {
          font-size: 25px;
          letter-spacing: 4px;
        }

        .img-cont {
          .dot-logo {
            .info {
              left: -240px;
              height: 200px;
              width: 500px;
              padding: 20px;
              @include background($size: 120px, $position: right);

              h5 {
                font-size: 18px;
                margin-bottom: 10px;
              }

              p {
                font-size: 14px;
                line-height: 25px;
              }
            }
          }

          .dot {
            &.agrogas {
              top: 300px;
              left: 230px;
              .info {
                width: 450px;
                left: -210px;
              }
            }

            &.rakic {
              .info {
                left: 15px;
              }
            }

            &.agribau {
              top: 635px;
              left: 335px;

              .info {
                top: -205px;
              }

              &:hover {
                .info {
                  display: block;
                }
              }
            }

            .info {
              left: -145px;
              height: 200px;
              width: 320px;
              padding: 20px;

              .logo-cont {
                @include background();
                height: 50px;
                margin-bottom: 15px;
              }

              p {
                font-size: 14px;
                line-height: 25px;
              }

              span {
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 790px) {
  .network {
    .page-cont {
      section {
        padding: 100px 10px 10px 10px;
        margin-bottom: 100px;

        h1 {
          font-size: 20px;
          letter-spacing: 3px;
        }

        .img-cont {
          height: calc(800px * 2 / 3);
          width: calc(600px * 2 / 3);

          .dot-logo {
            height: calc(40px * 2 / 3);
            width: calc(40px * 2 / 3);
            top: calc(150px * 2 / 3);
            left: calc(260px * 2 / 3);

            .info {
              position: absolute;
              z-index: 40;
              left: calc(-290px * 2 / 3);
              top: calc(45px * 2 / 3);
              height: calc(250px * 3 / 4);
              width: calc(600px * 2 / 3);
              @include background($size: 70px, $position: right);

              h5 {
                font-size: 16px;
                margin-bottom: 10px;
              }
              p {
                font-size: 14px;
                line-height: 25px;
                letter-spacing: 2px;
              }
            }
          }

          .dot {
            height: calc(30px * 2 / 3);
            width: calc(30px * 2 / 3);

            &.agrorid {
              top: calc(205px * 2 / 3);
              left: calc(190px * 2 / 3);
            }

            &.agrogas {
              top: calc(300px * 2 / 3);
              left: calc(230px * 2 / 3);

              .info {
                width: 410px;
                left: -170px;
              }
            }

            &.jugometal {
              top: calc(340px * 2 / 3);
              left: calc(355px * 2 / 3);
            }

            &.agrouniverzal {
              top: calc(380px * 2 / 3);
              left: calc(225px * 2 / 3);
            }

            &.agrocentar {
              top: calc(460px * 2 / 3);
              left: calc(190px * 2 / 3);
            }

            &.agribau {
              top: calc(635px * 2 / 3);
              left: calc(335px * 2 / 3);

              .info {
                top: -205px;
              }
            }

            &.rakic {
              top: calc(240px * 2 / 3);
              left: calc(25px * 2 / 3);
            }

            .info {
              top: 25px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .network {
    .page-cont {
      section {
        padding: 70px 10px 10px 10px;

        h1 {
          font-size: 18px;
          letter-spacing: 2px;
        }

        .img-cont {
          height: calc(800px / 2);
          width: calc(600px / 2);

          .dot-logo {
            height: calc(40px / 2);
            width: calc(40px / 2);
            top: calc(150px / 2);
            left: calc(260px / 2);

            .info {
              position: absolute;
              z-index: 40;
              left: calc(-260px / 2);
              top: calc(45px / 2);
              height: calc(250px / 2);
              width: calc(600px / 2);
              @include background($size: 60px, $position: right);

              h5 {
                font-size: 11px;
                margin-bottom: 5px;
              }
              p {
                font-size: 10px;
                line-height: 15px;
                letter-spacing: 1px;
              }
            }
          }

          .dot {
            height: calc(30px / 2);
            width: calc(30px / 2);

            &.agrorid {
              top: calc(205px / 2);
              left: calc(190px / 2);
            }

            &.agrogas {
              top: calc(300px / 2);
              left: calc(230px / 2);

              .info {
                width: 270px;
                left: -100px;
              }
            }

            &.jugometal {
              top: calc(340px / 2);
              left: calc(355px / 2);
            }

            &.agrouniverzal {
              top: calc(380px / 2);
              left: calc(225px / 2);
            }

            &.agrocentar {
              top: calc(460px / 2);
              left: calc(190px / 2);
            }

            &.agribau {
              top: calc(635px / 2);
              left: calc(335px / 2);

              .info {
                top: -125px;
              }
            }

            &.rakic {
              top: calc(240px / 2);
              left: calc(25px / 2);
              .info {
                left: 5px;
              }
            }
            .info {
              left: -80px;
              top: 20px;
              height: 120px;
              width: 200px;
              padding: 10px;

              .logo-cont {
                height: 30px;
                margin-bottom: 5px;
              }
              p {
                font-size: 10px;
                line-height: 15px;
                letter-spacing: 1px;
              }
            }
          }
        }
      }
    }
  }
}
