@import "./App.scss";

.products {
  .top-img-cont {
    background-image: url("/backgrounds/products.webp");
  }

  .page-cont {
    h1 {
      font-size: 50px;
      margin-bottom: 50px;
      padding-left: 50px;
    }

    .products-grid {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      .single-product {
        width: calc(33% - 20px);
        margin: 12.5px;
        aspect-ratio: 1/1.1;
        background-color: $white;
        border-radius: 2px;
        box-shadow: $shadow;

        a {
          width: 100%;
          height: 100%;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            height: 70%;
          }

          h3 {
            position: absolute;
            width: 100%;
            bottom: 0;
            font-size: 40px;
            text-align: right;
            padding: 0 10px;
            color: $black;
          }

          p {
            position: absolute;
            color: $black;
            top: 30px;
            font-size: 30px;
            transform: rotate(270deg);
            opacity: 0;
            transition: opacity 0.5s;

            &.hp {
              right: 0;
            }

            &.wd {
              left: 0;
            }
          }

          &:hover {
            cursor: pointer;

            p {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .products {
    .page-cont {
      h1 {
        font-size: 45px;
      }

      .products-grid {
        .single-product {
          margin: 12px;

          a {
            img {
              height: 60%;
            }

            h3 {
              font-size: 35px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .products {
    .page-cont {
      h1 {
        font-size: 40px;
      }
      .products-grid {
        .single-product {
          margin: 11.5px;

          a {
            img {
              height: 60%;
            }

            h3 {
              font-size: 30px;
            }

            p {
              font-size: 25px;
            }
          }
        }
      }
    }
  }
}
