@import "./App.scss";

.products {
  .top-img-cont {
    background-image: url("/backgrounds/products.webp");
  }

  .page-cont {
    h1 {
      margin-bottom: $page-padding;
    }

    .products-grid {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-bottom: $page-padding;

      .single-product {
        width: calc(33% - 20px);
        margin: 12.5px;
        aspect-ratio: 1/1.1;
        background-color: $white;
        border-radius: 2px;
        box-shadow: $shadow;

        a {
          @include flex;
          width: 100%;
          height: 100%;
          position: relative;

          img {
            height: 75%;
          }

          h1 {
            position: absolute;
            width: 100%;
            bottom: 0;
            text-align: right;
            padding-right: 10px;
            margin-bottom: 0;
          }

          p {
            position: absolute;
            top: 40px;
            font-size: 30px;
            transform: rotate(270deg);
            opacity: 0;
            transition: opacity 0.5s;

            &.hp {
              right: 0;
            }

            &.wd {
              left: 0;
            }
          }

          &:hover {
            cursor: pointer;

            p {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
