@import "./App.scss";

.product {
  .top-img-cont {
    position: relative;

    h1 {
      position: absolute;
      bottom: 50px;
      left: 150px;
      font-size: 70px;
      color: $white;
      text-shadow: $white 1px 0 5px;
    }
  }

  .page-cont {
    padding-bottom: $page-padding;

    .upper-text {
      color: $black;
      font-size: 20px;
      letter-spacing: 2px;
      line-height: 40px;
      margin-bottom: 50px;
    }

    .main-part {
      @include flex($align: end, $justify: space-between);

      .left {
        width: 50%;
        .img {
          height: $img-height;
          width: 100%;
          @include background();
        }
        h2 {
          text-align: center;
        }
      }

      .right {
        background-color: rgba(255, 255, 255, 0.5);
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 2px;
        width: 50%;

        h2 {
          margin-bottom: 40px;
        }

        .specs {
          display: flex;
          gap: $page-padding;

          p {
            font-size: 18px;
            margin-bottom: 25px;

            &.l {
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}

.page.product.one {
  .top-img-cont {
    background-image: url("/backgrounds/IMT-539.2-DI-desktop-banner.webp");
  }

  .img {
    background-image: url("/products/IMT-539.2-DI.webp");
  }
}

.page.product.two {
  .top-img-cont {
    background-image: url("/backgrounds/IMT-539.3-DI-desktop-banner.webp");
  }

  .img {
    background-image: url("/products/IMT-539.3-DI.webp");
  }
}

.page.product.three {
  .top-img-cont {
    background-image: url("/backgrounds/IMT-549.3-DI-desktop-banner.webp");
  }

  .img {
    background-image: url("/products/IMT-549.3-DI.webp");
  }
}

.page.product.four {
  .top-img-cont {
    background-image: url("/backgrounds/IMT-549M-OS-desktop-banner.webp");
  }

  .img {
    background-image: url("/products/IMT-549M-OS.webp");
  }
}

.page.product.five {
  .top-img-cont {
    background-image: url("/backgrounds/IMT-565.2-DI-desktop-banner.webp");
  }

  .img {
    background-image: url("/products/IMT-565.2-DI.webp");
  }
}

.page.product.six {
  .top-img-cont {
    background-image: url("/backgrounds/IMT-577M-HVAC-desktop-banner.webp");
  }

  .img {
    background-image: url("/products/IMT-577M-HVAC.webp");
  }
}

.page.product.seven {
  .top-img-cont {
    background-image: url("/backgrounds/IMT-587M-HVAC-desktop-banner.webp");
  }

  .img {
    background-image: url("/products/IMT-587M-HVAC.webp");
  }
}
