@import "./App.scss";

.single-product {
  .page-cont {
    section {
      border-radius: 5px;
      box-shadow: $shadow;
      position: relative;
      padding: 150px 50px;
      margin-bottom: 100px;
      display: flex;
      justify-content: space-between;

      .product-left {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;

        img {
          height: 400px;
          width: 450px;
          object-fit: cover;
        }
      }

      .product-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
          font-size: 16px;
          width: 100%;
          border-bottom: 2px solid rgb(233, 233, 233);
          span {
            font-weight: 600;
            font-size: 19px;
          }
        }

        .pdf-download-cont {
          display: flex;
          align-items: center;
          justify-content: space-between;

          p {
            border-bottom: none;

          }

          .single-product-pdf {
            font-size: 20px;
            font-weight: 500;
            color: $black;
            text-decoration: none;
            letter-spacing: 2px;
            width: 400px;
            background-image: url("/icons/pdf.svg");
            background-size: 30px;
            background-position: center right 10px;
            background-repeat: no-repeat;
            background-color: $red;
            padding: 10px 20px;
            box-shadow: $shadow;

            &:hover {
              filter: brightness(1.1);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1700px) {
  .single-product {
    .page-cont {
      section {
        .product-left {
          gap: 40px;
        }

        .product-right {
          p {
            font-size: 15px;
            span {
              font-size: 17px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .single-product {
    .page-cont {
      section {
        padding: 120px 40px;
        margin-bottom: 70px;
        .product-left {
          gap: 20px;
          img {
            height: 300px;
            width: 350px;
          }
        }
        .product-right {
          p {
            font-size: 13px;
            span {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1050px) {
  .single-product {
    .page-cont {
      section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;

        .product-left {
          width: 100%;

          img {
            height: 550px;
            width: calc(100% - 40px);
          }

          .form-cont {
            width: 100%;
          }
        }

        .product-right {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 20px;

          p {
            font-size: 18px;
            margin-bottom: 20px;
            span {
              font-size: 19px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 790px) {
  .single-product {
    .page-cont {
      section {
        .product-left {
          width: 100%;

          img {
            height: 300px;
          }
        }

        .product-right {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 0px;

          p {
            font-size: 15px;
            margin-bottom: 20px;
            span {
              font-size: 17px;
            }
          }
        }
      }
    }
  }
}
