@import "./App.scss";

.single-product {
  .page-cont {
    section {
      border-radius: 5px;
      box-shadow: $shadow;
      position: relative;
      padding: 150px 50px;
      margin-bottom: 100px;
      display: flex;
      justify-content: space-between;

      .product-left {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;

        img {
            height: 400px;
            width: 450px;
            object-fit: cover;
        }
      }

      .product-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
            font-size: 16px;


            span {
                font-weight: 600;
                font-size: 19px;
            }
        }
      }




    }
  }
}
